@model OnlineConverter.Models.ViewModel.CurrencyVM

<div class="container p-0">

    @* <div style="margin-top:50px;">
        <form method="post" asp-action="DbClear">
            <button type="submit" class="btn btn-danger" style="margin-bottom:30px;">Очистить БД</button>
        </form>
    </div> *@
    <div class="row" style="margin-top:50px;">

        @* Блок конвертації *@
        <form method="post" class="border col-md- p-3 d-flex align-items-center justify-content-center" style="width:800px; height:300px; margin-bottom:30px;">
            <select id="firstCurrencyId" name="firstCurrencyId" asp-items="@Model.CurrencySelectList" class="form-control text-left" style="height:35px; min-width:150px; width:auto;">
                <option value="0" disabled selected class="text-center">Маю</option>
            </select>

            <input type="text" name="inputNum" id="inputNum" class="form-control m-3" style="height:35px; width:150px;" oninput="validateInput(this)" />
            <button id="exchangeButton" type="button" class="btn btn-primary">
                <i class="fa-solid fa-right-left"></i>
            </button>

            <input id="convertedNumber" class="form-control m-3" style="height:35px; width:150px; background-color:#fff;" value="@Model.ConvertedNumber" readonly />

            <select id="secondCurrencyId" name="secondCurrencyId" asp-items="@Model.CurrencySelectList" class="form-control text-left" style="height:35px; min-width:150px; width:auto;">
                <option value="0" disabled selected class="text-center">Отримаю</option>
            </select>
        </form>

        @* Блок актуального курсу USD & EUR*@
        <div class="border col-md- p-0" style="width:400px; height:300px; margin-left:120px;">
            <div class="text-center h-25">
                <span class="fs-3">Актуальний курс</span>
            </div>
            <div class="p-4">
                <div class="row d-flex justify-content-between">
                    <span class="fs-1" style="max-width:105px; margin-left:30px;">USD:</span>
                    @if (Model.CurrentRate.UsdIsUpdated)
                    {
                        <div class="fs-1 d-flex justify-content-center align-items-center" style="margin-left:50px; max-width:50px; padding-top:20px;">
                            <div class="fa-solid fa-sort-up" style="color:green;"></div>
                        </div>
                    }
                    else
                    {
                        <div class="fs-1 d-flex justify-content-center align-items-center" style="margin-left:50px; max-width:50px; padding-bottom:15px;">
                            <div class="fa-solid fa-sort-down" style="color:#940c0c;"></div>
                        </div>
                    }
                    <span class="fs-1" style="max-width:105px; margin-right:25px;">@Model.Usd</span>
                </div>

                <div class="row mt-4 d-flex justify-content-between">
                    <span class="fs-1" style="max-width:105px; margin-left:30px;">EUR:</span>
                    @if (Model.CurrentRate.EurIsUpdated)
                    {
                        <div class="fs-1 d-flex justify-content-center align-items-center" style="margin-left:50px; max-width:50px; padding-top:20px;">
                            <div class="fa-solid fa-sort-up" style="color:green;"></div>
                        </div>
                    }
                    else
                    {
                        <div class="fs-1 d-flex justify-content-center align-items-center" style="margin-left:50px; max-width:50px; padding-bottom:15px;">
                            <div class="fa-solid fa-sort-down" style="color:#940c0c;"></div>
                        </div>
                    }
                    <span class="fs-1" style="max-width:105px; margin-right:25px;">@Model.Eur</span>
                </div>
            </div>
        </div>

        @* Блок графіка *@
        <div class="border col-md-" style="width:800px; height:460px; margin-top:30px;">
            <div class="text-center" style="height:42px;">
                <span class="fs-4">Графік змін</span>
            </div>
            <div class="border d-flex align-items-center justify-content-center" style="height:400px;">
                <canvas id="myChart">

                </canvas>
            </div>
        </div>

    </div>
    
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            function updateConversion() {
                var formData = $('form').serialize();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Index")',
                    data: formData,
                    success: function (result) {
                        $('#convertedNumber').val(result.convertedNumber);

                        var firstCurrencyValue = $('#firstCurrencyId').val();
                        var secondCurrencyValue = $('#secondCurrencyId').val();

                        if (!firstCurrencyValue || !secondCurrencyValue) {
                            $('#exchangeButton').prop('disabled', true);
                        } else {
                            $('#exchangeButton').prop('disabled', false);
                        }
                    },
                    error: function () {
                        console.log('Error in AJAX request');
                    }
                });
            }

            updateConversion();

            $('#inputNum').on('input', function () {
                updateConversion();
            });

            $('#firstCurrencyId').change(function () {
                updateConversion();
            });

            $('#secondCurrencyId').change(function () {
                updateConversion();
            });

            $('#exchangeButton').on('click', function () {
                var firstCurrencyValue = $('#firstCurrencyId').val();
                var secondCurrencyValue = $('#secondCurrencyId').val();

                $('#firstCurrencyId').val(secondCurrencyValue);
                $('#secondCurrencyId').val(firstCurrencyValue);

                updateConversion();
            });
        });
    </script>

    <script>
        function validateInput(inputNum) {
            inputNum.value = inputNum.value.replace(/[^0-9.,]/g, '');
        }
    </script>

    <script>
        let ctx = document.getElementById('myChart');

        let graphListUSD = @Html.Raw(Json.Serialize(Model.GraphListUSD));
        let graphListEUR = @Html.Raw(Json.Serialize(Model.GraphListEUR));
        let labels = @Html.Raw(Json.Serialize(Model.CurrencyDate));

        let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'USD',
                        data: graphListUSD,
                        backgroundColor: ['white'],
                        borderColor: ['green'],
                        borderWidth: 4
                    },
                    {
                        label: 'EUR',
                        data: graphListEUR,
                        backgroundColor: ['white'],
                        borderColor: ['red'],
                        borderWidth: 4
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        display: true,
                        ticks: {
                            callback: function (value, index, values) {
                                return index + 1;
                            }
                        }
                    },
                    y: {
                        display: true
                    }
                },
                tooltips: {
                    mode: 'index',
                    callbacks: {
                        label: function (tooltipItem, data) {
                            let index = tooltipItem.index;
                            return 'Date: ' + labels[index] + ' - ' + data.datasets[tooltipItem.datasetIndex].label + ' Value: ' + tooltipItem.yLabel;
                        }
                    }
                }
            }
        });
    </script>






}
